body {
  color: hsl(90, 3%, 55%);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, hsl(0, 0%, 4%), hsl(0, 0%, 10%));
}

/* Versatile Styling - apply as needed */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.start-caps {
  text-transform: capitalize;
}

.list-style {
  list-style-type: none;
}

.btn {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  background-color: hsl(32, 90%, 61%);
  border: 1px solid hsl(32, 90%, 61%);
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

.btn:hover {
  color: hsl(0, 0%, 97%);
  background-color: hsl(32, 90%, 56%);
  border: 1px solid hsl(32, 90%, 61%);
}

.rating {
  border-radius: 3px;
  background-color: hsl(32, 90%, 50%);
  color: #ffffff;
  font-weight: bold;
}

.margin-left {
  margin-left: 0.5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* 404.html */

/* all_movies.html */

.movie-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-posters {
  height: 15rem;
  object-fit: cover;
  margin: 0 3rem 3rem 0;
}

/* base.html */
/* navbar */
.fixed {
  position: fixed;
}

.navbar {
  width: 98.7vw;
  height: 3rem;
  background-color: hsl(0, 0%, 4%);
  margin: 0;
  padding: 0 1rem 1rem 0.1rem;
  border-bottom: 3px solid hsl(0, 0%, 7%);
}

.a-logo {
  text-decoration: none;
}

.logo {
  height: 3rem;
  object-fit: cover;
  margin: 0.6rem 0 0 2rem;
}

.logo-name {
  color: hsl(30, 100%, 58%);
  border-radius: 3px;
  padding: 0.4rem 0.3rem 0.2rem;
  text-transform: capitalize;
}

.navbar-links {
  margin: 1.35rem 1rem 1rem 1rem;
}

.link {
  text-decoration: none;
  color: hsl(30, 100%, 58%);
  border-radius: 3px;
  padding: 0.1rem 1rem 0.3rem;
  text-transform: capitalize;
}

.login {
  margin-left: 64rem;
}

.flash-div {
  position: relative;
}

.flash-msg {
  color: hsl(0, 0%, 100%);
  position: absolute;
  margin: -4.7rem 0 0 22rem;
}

/* base.html */
/* body */

.padding-top-page {
  padding-top: 6rem;
}

/* homepage.html */

.welcome-div {
  position: relative;
  color: hsl(0, 0%, 100%);
}

.welcome-card {
  position: absolute;
  margin: -34rem 0 0 22rem;
  text-align: center;
  width: 50rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.welcome-title {
  font-size: 4rem;
}

.welcome-access {
  margin: -2.4rem 0 3rem 0;
}

.register-form {
  margin-left: 5.7em;
  height: 2em;
  border-radius: 3px;
}

.email {
  width: 15em;
}

.register-btn {
  font-size: 1.5rem;
  padding: 0 1em;
}

.collection-img {
  width: 99vw;
  height: 88vh;
  margin: -1.7rem 0 0 0;
  padding: 0;
  object-fit: cover;
  opacity: 0.3;
}

/* login.html */

.log-in-div {
  margin: -30em 0 0 40em;
  background-color: hsl(0, 0%, 4%, 0.8);
  padding: 2em 4em 2em 2em;
  border-radius: 4px;
}

.log-in-title {
  color: hsl(0, 0%, 100%);
}

.log-in-form {
}

/* movies_details.html */

.movie_details {
  margin-left: 20rem;
  height: 86.7vh;
}

.poster {
  height: 37rem;
  object-fit: cover;
}

.movie-details-card {
  margin-left: 1rem;
}

.movie_title {
  width: 25rem;
  color: hsl(0, 0%, 100%);
}

.movie-overview {
  width: 25rem;
}

.rating-form {
  color: hsl(0, 0%, 100%);
}
