body {
  color: hsl(90, 3%, 55%);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, hsl(0, 0%, 4%), hsl(0, 0%, 10%));
}

/* Versatile Styling - apply as needed */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.start-caps {
  text-transform: capitalize;
}

.list-style {
  list-style-type: none;
}

.btn {
  color: hsl(0, 0%, 7%);
  background-color: hsl(32, 90%, 61%);
  border: 1px solid hsl(32, 90%, 61%);
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

.btn:hover {
  color: hsl(0, 0%, 7%);
  background-color: hsl(32, 90%, 50%);
  border: 1px solid hsl(32, 90%, 61%);
}

.rating {
  border-radius: 3px;
  background-color: hsl(32, 90%, 50%);
}

.margin-left {
  margin-left: 0.5rem;
}

/* 404.html */

/* all_movies.html */

.movie-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-posters {
  height: 15rem;
  object-fit: cover;
  margin: 0 3rem 3rem 0;
}

/* base.html */
/* navbar */
.fixed {
  position: fixed;
}

.navbar {
  width: 98.7vw;
  height: 3rem;
  background-color: hsl(0, 0%, 4%);
  margin: 0;
  padding: 0 1rem 1rem 0.1rem;
  border-bottom: 3px solid hsl(0, 0%, 7%);
}

.navbar-links {
  margin: 1.2rem 1rem 1rem 1rem;
}

.link {
  text-decoration: none;
  color: hsl(32, 90%, 61%);
  border-radius: 3px;
  padding: 0.1rem 0.3rem 0.2rem;
  text-transform: capitalize;
}

/* base.html */
/* body */

.padding-top-page {
  padding-top: 6rem;
}

/* movies_details.html */

.movie_details {
  margin-left: 20rem;
  height: 86.7vh;
}

.poster {
  height: 37rem;
  object-fit: cover;
}

.movie-details-card {
  margin-left: 1rem;
}

.movie_title {
  width: 25rem;
}

.movie-overview {
  width: 25rem;
}
