{% extends 'base.html' %} {% block body %}
<div>
  <div>
    <img
      class="collection-img"
      src="https://wallpapercave.com/wp/wp10615910.jpg"
      alt="list of movies"
    />
  </div>
  <div class="relative">
    <div class="absolute log-in-div">
      <h2 class="log-in-title">Log In</h2>
      <form class="flex-column log-in-form" action="/login" method="POST">
        <input
          class="login-input"
          type="text"
          name="email"
          placeholder="Email adress"
        />
        <input
          class="login-input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input class="btn login-btn" type="submit" value="Log In" />
      </form>
      <p>
        New to Sequence<a class="register-now" href="{{ url_for('register') }}"
          >Register Now</a
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
