{% extends 'base.html' %} {% block body %}
<div>
  <div>
    <img
      class="collection-img"
      src="https://wallpapercave.com/wp/wp10615910.jpg"
      alt="list of movies"
    />
  </div>
  <div class="relative">
    <div class="absolute register-div">
      <h2 class="register-title">Register</h2>
      <form
        class="flex-column register-form-page"
        action="/users"
        method="POST"
      >
        <input
          class="register-input"
          type="text"
          name="email"
          placeholder="Email address"
        />
        <input
          class="register-input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input class="btn register-btn-page" type="submit" value="Register" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
